/* CSS Document */
* {
	margin:0px;
	padding:0px;
	border:0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#464646;
}

code  {
	font-family: Monospace;
}

html {
	font-size: 12px;
}

body {
	text-align:center;
	color:#5B5B5B;
	background-color: white;
}

span {
	color: #808080;
}

span.current  {
	color: black;
}

ol, ul  {
	padding: 5px 5px 5px 22px;
}

.green {
	color: green;
}

.red  {
	color: red;
}

#main {
	position:relative;
	text-align:left;
	width:780px;
	margin:55px auto 20px auto;
}

#main h1 {
	background:url(../images/layout/logo_freenetis2.jpg);
	width:229px;
	height:49px;
}

#main h1 a {
	width: 100%;
	height: 100%;
	display: block;
	text-decoration: none;
}

#main h1 em {
	font-style: normal;
	color: #f15900;
}

#main h1 span {
	visibility:hidden;
}

/* Version label*/
#main h1 i {
	margin-left: 120px;
	font-size: 10px;
	color: #fb5e10;
}

#main h2 {
	margin-bottom: 25px;
	font-size:150%;
}

#main #main-padd {
	padding:0px;
	position:relative;
	margin:0px;
	clear: both;
	/* look */
	border: 1px #ccc solid;
	box-shadow: #ccc 0 0 4px;
	-webkit-box-shadow: #ccc 0 0 4px;
	-moz-box-shadow: #ccc 0 0 4px;
	border-radius: 2px;
	-moz-border-radius: 2px; /* old firefox */
}

#main #main-padd #left{
	float: left;
	width: 200px;
}

#main #main-padd #content{
	margin: 30px;
}

#main #main-padd #content p  {
	line-height: 18px;
	margin-bottom: 20px;
}

#main #main-padd #content ol, ul  {
	margin-bottom: 20px;
}

#main #main-padd #content ol li, #main #main-padd #content ul li  {
	line-height: 18px;
}

.clear {
	clear:both;
}

#requirements td  {
	width: 280px;

}

input, select  {
	padding: 2px;
	border: 1px solid #CCC;
}

input[type="radio"] {
	margin-right: 5px;
}

#form  {
	width: 100%;
}

table.form  {
	border: 0px solid black;
	width: 700px;
	font-size:90%;
}

table.form th  {
	padding: 16px 10px 10px;
	font-weight: bold;
	width: 110px;
	vertical-align: top;
	text-align: left;
}

table.form td  {
	padding: 0px 10px;
}

table.form tr  {
	background-color: #F1F1F1;
}

.submit {
	/* basic */
	margin: 30px 0px;
	padding: 7px 12px;
	cursor: pointer;

	/* font */
	font-weight: bold;
	font-size: 12px;
	color: #ffffff;

	/* background */
	background: #fe6005; /* Old browsers */
	background: -moz-linear-gradient(top,  #fe6005 0%, #ffd2ba 1%, #ff5900 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fe6005), color-stop(1%,#ffd2ba), color-stop(100%,#ff5900)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fe6005 0%,#ffd2ba 1%,#ff5900 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fe6005 0%,#ffd2ba 1%,#ff5900 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fe6005 0%,#ffd2ba 1%,#ff5900 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fe6005 0%,#ffd2ba 1%,#ff5900 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe6005', endColorstr='#ff5900',GradientType=0 ); /* IE6-9 */

	/* border */
	border: 1px solid #878787;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;

	/* shadows */
	-moz-box-shadow:
		0px 1px 3px rgba(43,43,43,1),
		inset 0px 0px 10px rgba(087,087,087,0);
	-webkit-box-shadow:
		0px 1px 3px rgba(43,43,43,1),
		inset 0px 0px 10px rgba(087,087,087,0);
	box-shadow:
		0px 1px 3px rgba(43,43,43,1),
		inset 0px 0px 10px rgba(087,087,087,0);
	text-shadow:
		0px 0px 8px rgba(87,30,0,1),
		0px 1px 0px rgba(0,0,0,0.3);
}

.submit:hover {
	/* background */
	background: -moz-linear-gradient(top,  #fe6005 0%, #ffc6a8 1%, #ff5900 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fe6005), color-stop(1%,#ffc6a8), color-stop(100%,#ff5900)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fe6005 0%,#ffc6a8 1%,#ff5900 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fe6005 0%,#ffc6a8 1%,#ff5900 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fe6005 0%,#ffc6a8 1%,#ff5900 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fe6005 0%,#ffc6a8 1%,#ff5900 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe6005', endColorstr='#ff5900',GradientType=0 ); /* IE6-9 */
}

textarea  {
	border: 1px solid black;
	font-family: Monospace;
	margin-top: 2px;
	margin-bottom: 2px;
}

textarea.comment_ta {
	width: 100%;
	height: 150px;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 2px;
	border: 1px solid #CCC;
}

div.flags  {
	position: relative;
	top: -4px;
	text-align:right;
	float:right;
}

th.group  {
	padding-top:5px;
	background:#fff;
	text-align:left;
	font-size: 120%;
	border-bottom:3px #CCCCCC solid;
}

p.error  {
	color: red;
}

div#login_div input[type="text"], div#login_div input[type="password"] {
	width: 170px;
}

div#login_div table {
	width: 100%;
}

p.registration_link  {
	float: right;
	margin-top: 5px;
	margin-right: 5px;
	font-size: 90%;
}

p.forgotten_password_link  {
	float: right;
	margin-top: 25px;
	margin-right: 5px;
	font-size: 90%;
}

div#error {
	background: url(../images/icons/status/error.png) 8px 6px no-repeat;
	padding:5px 5px 5px 40px;
	margin:0;
	min-height: 25px;
	background-color: #fec2b9;
	border-color: #CC0000;
	color: #CC0000;
}

div#success {
	background: url(../images/icons/status/success.png) 8px 8px no-repeat;
	padding:5px 5px 5px 40px;
	margin:0;
	min-height: 25px;
	background-color: #a9fdc9;
	border-color: #068c00;
	color: #068c00;
}

div#error strong {
	color:#CC0000;
}

div#success strong {
	color:#068c00;
}


.status_message_success, .status_message_warning, .status_message_error, .status_message_info {
	border: 1px solid black;
    font-weight:bold;
    text-align:left;
    margin:0px 0 10px 0;
    padding:10px 10px 10px 40px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.status_message_info {
	background: url(../images/icons/status/info.png) 6px 6px no-repeat;
	background-color: #cdd2fe;
	border-color: #2635d2;
	color: #2635d2;
}
.status_message_success {
	background: url(../images/icons/status/success.png) 6px 6px no-repeat;
	background-color: #a9fdc9;
	border-color: #068c00;
	color: #068c00;
}
.status_message_warning {
	background: url(../images/icons/status/warning.png) 6px 6px no-repeat;
	background-color: #fef4c5;
	border-color: #ff8900;
	color: #ff8900;
}
.status_message_error {
	background: url(../images/icons/status/error.png) 6px 6px no-repeat;
	background-color: #fec2b9;
	border-color: #CC0000;
	color: #CC0000;
}
.status-message-exception {
	margin: 3px 0;
    padding: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: black;
}
.status-message-exception-body {
	display: none;
	max-height: 180px;
	overflow: auto;
}

.group-button	{
	cursor: pointer;
}

.dispNone {
	display:none;
}

.warning {
	color: red;
}

.error {
	color:#CC0000;
}

label.error  {
	display: block;
}

.label_required {
	color: #990000;
}

.label_required label {
	color: #990000;
}

.status_icon {
	vertical-align: middle;
	padding-right: .5em;
	padding-bottom: .5em;
}

.ui-autocomplete {
	font-size: 12px;
	text-align: left;
}

.ui-autocomplete span {
	color: #000;
}

.ui-autocomplete li .details {
	font-style: italic;
	font-size: 11px;
}

.ui-autocomplete li .label.details {
	font-weight: bold;
	font-style: normal;
}

.ui-autocomplete-loading {
	background: white url('../images/icons/animations/ajax-loader.gif') right center no-repeat;
}

#district {
	margin-left: 20px;
}

#ap_map {
	position: relative;
}

.ap_form_map_container {
	position: absolute;
	bottom: 0px;
	left: 185px;
	border: 1px solid #CCCCCC;
}

#ap_map div.no_map {
	background: url('../images/icons/map_icon.gif') #F1F1F1 no-repeat center center;
	width: 356px;
	height: 162px;
}

div.map_zoom_in {
	position: absolute;
	left: 5px;
	top: 5px;
	cursor: pointer;
	width: 10px;
	height: 10px;
	padding: 5px;
	background: url('../images/icons/ico_math_plus.gif') #2F7CC4 no-repeat center center;
}

div.map_zoom_out {
	position: absolute;
	left: 5px;
	top: 30px;
	cursor: pointer;
	width: 10px;
	height: 10px;
	padding: 5px;
	background: url('../images/icons/ico_math_minus.gif') #2F7CC4 no-repeat center center;
}