/*
	Mobile device style
*/

@media only screen and (max-device-width : 640px) { /* firefox 3 require this to work properly */
	
.cellphone #main { 
	background-image: none;
	width: auto;
	max-width: none;
	min-width: 0;
}

.cellphone #middle { 
	font-size: 120%;
	-webkit-text-size-adjust: 100%;
}

.cellphone #header, #content, #footer {
	width: 100%;
}

.cellphone #content {
	margin-left: 0px;
	max-width: none;
	min-width: 0;
}

.cellphone #content-padd {
	max-width: none;
	min-width: 0;
}

.cellphone #footer {
	display: none;
}

.cellphone #menu {
	background-color: #fff;
	position: absolute;
	width: 100%;
	z-index: 100;
	display: none;
}

.cellphone #content.dispNone {
	display: none;
}

.cellphone #cellphone_hide_menu {
	width: 50px;
	position: absolute;
	height: 100%;
	right: 0;
	background: #ff5c00 url('../../media/images/menu/hide_menu.png') no-repeat center 10px;
	cursor: pointer;
}

.cellphone #cellphone_show_menu {
	top: 24px;
	left: 18px;
	background: #FF5C00 url('../../media/images/layout/logo_freenetis.jpg') no-repeat -1px 0px;
	position: absolute;
	width: 48px;
	height: 48px;
	cursor: pointer;
}

.cellphone #cellphone_menu_tooltip {
	display: none;
	text-align: left;
	background-color: #FF833D;
	color: #ffffff;
	line-height: 45px;
	position: absolute;
	padding: 0 1.5em;
	left: 67px;
	top: 25px;
	z-index: 10;
	font-weight: bold;
	opacity: 0.9;
}

.cellphone h1#logo {
	display: none;
}

.cellphone .cellphone_hide,
.cellphone a.action_field_icon.cellphone_hide {
	display: none !important;
}

.cellphone #header .separator1 {
	left: 75px;
}

.cellphone #header .status {
	left: 87px;
}

.cellphone #header .logout {
	top: 64px;
}

.cellphone #menu-padd {
	width: 240px;
}

.cellphone table.form {
	width: auto ! important;
}

.cellphone table.extended {
	float: none ! important;
	margin-left: 0 ! important;
}

.cellphone #loading-overlay {
	left: 0;
	top: 95px;
}

.cellphone .status div#user_ip_address {
	display: inline-block;
	width: 90px;
	overflow: hidden;
	font-weight: normal;
}

.cellphone input, .cellphone textarea {
	margin: 0 ! important;
	max-width: 100px ! important;
}

.cellphone textarea {
	width: 100% ! important;
	max-width: 100% ! important;
	padding: 0;
	margin: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.cellphone select {
	margin: 0 ! important;
	max-width: 100px ! important;
}

.cellphone .search input#keyword {
	max-width: 210px ! important;
	width: 210px;
}

}
