/* CSS Document */
* {
	margin:0px;
	padding:0px;
	border:0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #464646;
}
body, img, a {
	
}
html {
	font-size: 70%;
	line-height: 165%;
	height:100%;
	overflow: auto;
}
body {
	text-align:center;
	height:100%;
}
table, input, textarea {
	font-size:100%;
}

table {
	border-width: 0px 0px 0px 0px;
	border-spacing: 0px;
}
table th {
	border-width: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
table td {
	border-width: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

table.picturebox {

	border-width: 0px 0px 0px 0px;
	border-spacing: 0px;
	border-style: outset outset outset outset;
	border-collapse: separate;
    width: 100%;
}

table.picturebox td {
	border-width: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-style: inset inset inset inset;
	width: 100%;
	color:#990000;
}

.error {
	color:#CC0000;
}

.max {
	width: 100%;
}

label.error  {
	display: block;
}

input.error, input.error:focus, textarea.error, textarea.error:focus, select.error, select.error:focus {
	border: 1px solid red;
}

input.v.error {
	margin-right: 5px;
}

input.join2.checkbox {
    margin: 0px 5px 0px 10px;
    width: initial;
}

.error_text {
	color: white;
	background-color: red;
	padding: 2px;
}

.dispNone {
	display:none;
}
.clear {
	clear:both;
}
.center { text-align:center; }
.left { text-align:left; }
.right { text-align:right; }
.justify { text-align:justify; }
.bold { font-weight:bold; }
.normal { font-weight:normal; }

.ajax-loader {
	position:absolute;
	margin-left:10px;
	margin-top:2px;
}
/* ------------------------ */
/* -------- LAYOUT -------- */
/* ------------------------ */
#main {
	position:relative;
	min-width:1000px;
	max-width:1360px;
	width:auto;
	margin:auto;
	background:#ffffff url(../images/layout/bg-main250.jpg) left top repeat-y;
	border: 1px solid #ccc;
	border-top-width: 0;
	border-bottom-width: 0;
	
	height:auto;
	_height:100%; /* IE 6- */
	min-height:100%;
	
	/* shadow */
	-webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
}

#header {
	position:relative;
	height:90px;
	background: url(../images/layout/bg_header.png) repeat-x;
	border-bottom:1px #CCCCCC solid;
}

#middle {
	padding-bottom:50px;
	/*overflow: hidden;*/
}

#menu {
	display:block;
	width:250px;
	float:left;
	text-align:left;
}

#menu-padd {
	padding:10px;
}

#content {
	display:block;
	width:auto;
	min-width: 750px;
	max-width: 1110px;
	margin-left:250px; /* margin for #menu */
	padding:10px;
	text-align:justify;
}
#content-padd {
	float:left;
	width:100%;
	min-width: 730px;
	max-width: 1090px;
}

#footer {
	position:absolute;
	height:35px;
	bottom:0px;
	left:0px;
	background: url(../images/layout/bg_footer.jpg) top repeat-x;
	border-top:1px #CCCCCC solid;
	width:100%;
}
#footer-padd {
	padding-top:10px;
	text-align:left;
}

/* -----#end LAYOUT-------- */
/* ------------------------ */

/* ------------------------ */
/* ------- BOXES ------ */
/* ------------------------ */
#header .separator1 {
	background:url(../images/layout/header_separator.jpg);
	width:3px;
	height:77px;
	position:absolute;
	left:248px;
	top:11px;
}
#header .map {
	position:absolute;
	top:11px;
	right:110px;
	background:url(../images/layout/header_map.jpg) no-repeat;
	width:332px;
	height:77px;
}
#header .status {
	position:absolute;
	left:260px;
	top:20px;
	text-align:left;
}
.status table {
	margin-top:1px;
}

.status div#user_ip_address {
	width: 650px;
	overflow: hidden;
	height: 18px;
}

.status div#user_ip_address a img {
	vertical-align: top;
}
.status a {
	display: inline !important;
	vertical-align: middle !important;
	margin-right: 4px !important;
}

#header .logout {
	position:absolute;
	right:0;
	top:43px;
	width:85px;
}
#header .logout div {
	background:url(../images/layout/ico_logout.png) right 0px no-repeat;
	padding-right: 1.5em;
	margin-right: 1.5em;
}
#header .logout a {
	color:#FF833D;
}
#header .logout a:hover {
	text-decoration:none;
}

.pagination {
	padding:10px 0 0px 0;
}
.pagination strong {
	border:1px #FF833D solid;
	padding:0 5px 0 5px;
}
.message {
	border:1px #FF833D solid;
	background:#F7F7F7;
	font-weight:bold;
	text-align:center;
	margin:10px 0 10px 0;
	padding:10px 0 10px 0;
}
.status_message_success, .status_message_warning, .status_message_error, .status_message_info {
	border: 1px solid black;
    font-weight:bold;
    text-align:left;
    margin:0px 0 10px 0;
    padding:10px 10px 10px 40px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.status_message_info {
	background: url(../images/icons/status/info.png) 6px 6px no-repeat;
	background-color: #cdd2fe;
	border-color: #2635d2;
	color: #2635d2;
}
.status_message_success {
	background: url(../images/icons/status/success.png) 6px 6px no-repeat;
	background-color: #a9fdc9;
	border-color: #068c00;
	color: #068c00;
}
.status_message_warning {
	background: url(../images/icons/status/warning.png) 6px 6px no-repeat;
	background-color: #fef4c5;
	border-color: #ff8900;
	color: #ff8900;
}
.status_message_error {
	background: url(../images/icons/status/error.png) 6px 6px no-repeat;
	background-color: #fec2b9;
	border-color: #CC0000;
	color: #CC0000;
}
.status-message-exception {
	margin: 3px 0;
    padding: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: black;
}
.status-message-exception-body {
	display: none;
	max-height: 180px;
	overflow: auto;
}
/* -----#end BOXES-------- */
/* ------------------------ */

#statesbox
{
	text-align: center;
	padding: 20px;
}

#statesbox div.statebox_table
{
	background: #F7F7F7;
	margin: 0 auto;
	padding: 0px;
	border: 3px #666666 solid;
	width: 450px;
    height: 140px;
}

/* -------------------------------- */
/* ------- HEADLINES & Texts ------ */
/* -------------------------------- */

.flags  {
        margin-top: 0px;
}

h1#logo {
	position:absolute;
	top:24px;
	left:18px;
	background:url(../images/layout/logo_freenetis.jpg);
	width:212px;
	height:49px;
}
h1#logo span {
	visibility:hidden;
}
#cellphone_menu_tooltip {
	display: none;
}
h2 {
	padding-bottom:5px;
	font-size: 150%;
}
h3 {
	padding-bottom:5px;
}
.status span.logged_user {
	background: url(../images/layout/ico_user.gif) no-repeat;
	padding-left:20px;
	color:#B3B3B3;
	line-height: 20px;
	vertical-align: top;
}
.status .orange {
	color:#FF833D;
}
a:hover {
	color: #EC7A04;
	text-decoration:none;
}

.deprecated {
	text-decoration: line-through ! important;
}

/* ----#end HEADLINES------ */
/* ------------------------ */

/* ------------------------ */
/* --------- MENU --------- */
/* ------------------------ */
#menu ul {	

}
#menu ul ul {
	margin:0 0 10px 3px;
	list-style-type:none;
}
#menu ul ul li {
	background:url(../images/layout/bull.gif) 0px 6px no-repeat;
	padding-left:15px;
}
#menu li h2 {
	color:#544A5C;
	font-size:140%;
	font-weight:normal;
	padding-bottom:10px;
	padding-left: 15px;
}
#menu li.favourites, li.account, #menu li.transfer, #menu li.users, #menu li.approval, #menu li.networks,  #menu li.administration, #menu li.redirection, #menu li.backup, #menu li.help {
	padding-left:30px;
	padding-top:10px;
	list-style-type:none;
	background: #FFFFFF url(../images/layout/bg-gray2.gif) repeat-x;
	border:1px #ebebeb solid;
	margin-bottom:10px;
}

#menu li.favourites {
	background: #FFFFFF url(../images/menu/favourites.png) 5px 5px no-repeat;
}
#menu li.account {
	background: #FFFFFF url(../images/menu/profile.png) 5px 5px no-repeat;
}
#menu li.transfer {
	background: #FFFFFF url(../images/menu/money.png) 5px 5px no-repeat;
}
#menu li.users {
	background: #FFFFFF url(../images/menu/users.png) 5px 5px no-repeat;
}
#menu li.approval {
	background: #FFFFFF url(../images/menu/approval.png) 5px 5px no-repeat;
}
#menu li.networks {
	background: #FFFFFF url(../images/menu/network.png) 5px 5px no-repeat;
}
#menu li.administration {
	background: #FFFFFF url(../images/menu/administration.png) 5px 5px no-repeat;
}
#menu li.redirection {
	background: #FFFFFF url(../images/menu/redirections.png) 5px 5px no-repeat;
}
#menu li.backup {
	background: #FFFFFF url(../images/menu/backup.png) 5px 5px no-repeat;
}
#menu li.help {
	background: #FFFFFF url(../images/menu/help.png) 5px 5px no-repeat;
}
#a_show_menu {
	/* only for mobile phones */
	display: none;
}
.help_16 {
	cursor: help;
}
.menu_item_counter {
	margin-right: 5px;
	padding: 0px 6px;
	font-size: 90%;
	font-family: arial;
	font-weight: bold;
	background-color: #CCC;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

/* -------#end MENU-------- */
/* ------------------------ */

#htaccess  {
	width: 250px;
	height: 200px;
}

.popup  {
	border: 1px solid black;
	padding: 20px;
	margin: 20px;
	width: auto ! important;
}

.grid_table tr td .textarea {
	width: 200px;
}

th.header {
    cursor: pointer;
}

.grid_mail_from  {
	width: 180px;
}

.grid_mail_subject  {
	width: 490px;
}

.grid_mail_time  {
	text-align: center;
}

ul.tabs  {
	margin-top: 20px ! important;
	margin-bottom: 10px ! important;
	width: 100% ! important;
	float: left ! important;
	border-top-width: 0px ! important;
	border-left-width: 0px ! important;
	border-right-width: 0px ! important;
	border-bottom: 1px solid #ccc ! important;
	padding: 0px ! important;
	z-index: 20;
}

ul.tabs li {
	float: left;
	list-style: none;
	border: 1px solid #ccc ! important;
	background: white ! important;
	margin: 0px 3px -1px 3px ! important;
	padding: 5px ! important;
}

ul.tabs li a {
	text-decoration: none;
	margin: 0px ! important;
	padding: 0px ! important;
}

ul.tabs li.current, ul.tabs li.ui-tabs-selected {
	border-bottom: 1px solid white ! important;
	font-weight: bold;
}

.mail_to_field  {
	width: 630px;
}

.mail_subject_field  {
	width: 630px;
}

.button_link  {
	border: 1px solid #ccc;
	padding: 5px;
	margin: 0px 10px 0px 0px;
	text-decoration: none;
}

.button_link:hover {
	border: 1px solid orange;
}

#mark_all  {
	width: 20px;
}

.mark_all_label  {
	margin-left: 5px;
	margin-right: 20px;
}

#operation  {
	margin-right: 20px;
	width: 190px;
}

.right  {
	text-align: right;
}

#show_application_password_link  {
	float: right;
	margin-right: 40px;
}

.breadcrumbs  {
	font-weight: bold;
}

.action_logs {
	float: right;
}

.action_logs img {
	vertical-align: middle;
}

.ip_box  {
	border: 1px solid black;
}

.help  {
	cursor: help;
}

.red  {
	color: red;
}

.rbg {
	background-color: #FF5C00;
	color: white;
}

.search_result  {
	margin: 15px;
}

.search_result_title  {
}

/* highlighting of results of searching */
span.highlighted {
	background-color: #fed480;
}

#whisper	{
	display: none;
	background-color: white;
	border: 1px solid #ebebeb;
	width: 228px;
	max-height: 300px;
	margin-bottom: 10px;
	overflow: auto;
}

#whisper a:hover {
	background-color: lightGoldenrodYellow;
	border: 1px solid orange;
}

.whisper_search_result	{
	padding: 5px;
	display: block;
	text-decoration: none;
	border: 1px solid white;
	border-bottom: 1px solid #ebebeb;
}

#search_submit  {
	width: 14px;
}

.ajax-loader-big {
	padding-left: 60px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.search	{
	margin-bottom: 10px;
}

#filter_form label	{
	display: none;
}

#filter_form .o	{
	width: 100px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 0px;
}

.ui-autocomplete {
		text-align: left;
		width: 222px;
		max-height: 400px;
		overflow-y: auto;
		/* prevent horizontal scrollbar */
		overflow-x: hidden;
		/* add padding to account for vertical scrollbar */
		padding-right: 20px;
	}

.select_button	{
		display: none;
}

.v	{
	
}

.t, .o	{
	
}

.without_select_button	{
	border-right-width: 1px;
	width: 222px;
}

.filter_div	{
	/*height: 27px;*/
	margin-bottom: 20px;
}

.filter_div label.error	{
	display: none;
}

.delete_button	{
	border: 0px solid black;
	margin-left: 7px;
	margin-bottom: 5px;
	cursor: pointer;
}

.ui-autocomplete-loading {
	background: white url('../images/icons/animations/ajax-loader.gif') right center no-repeat;
}

.ssh-key	{
	width: 347px;
	word-wrap: break-word;
	overflow: hidden;
}

.ssh-key-link	{
	float:right;
	margin-right: 5px;
}

.comment{
	width: 200px;
}

.help_hint {
	width: 10px;
	height: 10px;
	cursor: help;
	padding: 0 2px;
}

.more	{
	color: black;
	cursor: help;
	text-decoration: none;
	border-bottom: 1px dotted black;
}

.more.notverified {
    color: red;
    font-weight: bold;
    border-color: red;
    vertical-align: super;
}

.submit_hint {
    display: inline-block;
}

.submit_hint > img.help_hint {
    padding: 0px 5px;
    top: 7px;
    position: relative;
}

.ui-widget-header	{
	border-width: 0px ! important;
	border-bottom-width: 1px ! important;
	background: none ! important;
}

#tabs, div.tabs {
	border-width: 0px ! important;
	border-bottom: 1px solid #CCCCCC ! important;
}

.ui-corner-all {
	-moz-border-radius: 0px ! important;
	-webkit-border-radius: 0px ! important;
	border-radius: 0px ! important;
}

/* Action icon of grid */
a.action_field_icon {
	display: inline-block;
	margin-right: 2px;
	text-decoration: none;
}

a.action_field_icon:hover img {
	background-color: #EC7A04;
	border-color: #ac8736;
	cursor: pointer;
}

a.action_field_icon img {
	border: none;
	padding: 1px;
	border: 1px solid #ccc;
	background-color: white;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

table.no_table, table.no_table tr, table.no_table td, table.no_table th {
	margin: 0px;
	padding: 0px;
	border: none;
}

.one_row_textarea {
	height: 16px;
	margin: 2px 10px;
}

.table_form tr td {
	padding: 1px;
}

.device_button {
	cursor: pointer;
}

.group-button	{
	cursor: pointer;
}

.italic	{
	font-style: italic;
}

.disable	{
	font-style: italic;
	color: #666666 !important;
}

.dropdown_buttons_div	{
	display: inline;
	width: 60px;
}

.dropdown_button_div	{
	width: 60px;
}

.dropwdown_button_search	{
	width: 210px;
}

.active	{
	background-color: green;
}

.deactive	{
	background-color: red;
}

.state_change	{
	cursor: pointer;
	width: 80px;
}

.state_change_all_table	{
	margin-bottom: 20px;
}

.state_change_all_table img	{
	margin-right: 5px;
}

.state_change_all_table td	{
	cursor: pointer;
	width: 200px;
	height: 30px;
}

#loading-overlay	{
	z-index: 99999;
	position: absolute;
	top: 300px;
	left: 400px;
	width: 200px;
	height: 200px;
	background-image: url('../images/icons/animations/ajax-loader-big.gif');
	background-repeat: no-repeat;
	background-position: center;
	background-color: white;
}

.hand	{
	cursor: pointer;
}

#filter_form	{
}

#filter_form fieldset	{
	border: 1px solid #E4E4E4;
	padding: 10px;
}

#filter_form fieldset legend	{
	cursor: pointer;
}

.n	{
	width: 20px;
}

#add_button, #reset_button	{
	cursor: pointer;
	margin-right: 5px;
}

#filters	{
	margin-top: 10px;
	margin-bottom: 20px;
}

.with-border	{
	border: 1px solid #E4E4E4;
	padding: 5px;
}

.c	{
	margin: 12px;
}

.expand-button	{
	margin-left: 10px;
	cursor: pointer;
}

#filter_form .submit	{
	padding: 4px 5px;
	float: left;
	line-height: 16px;
}

/* special style for IE7 */
*+html #filter_form .filter-button img {
	display: none;
}

#filter_form select {
	max-width: 320px;
}

#filter-queries-div	{
	margin-bottom: 20px;
}

.save-button {
	padding: 4px 5px;
	float: left;
	text-decoration: none;
	margin-left: 15px;
	line-height: 16px;
}

.save-button:hover	{
	color: white;
}

.ui-dialog table.form
{
	width: auto !important;
}

.loading	{
	height: 200px;
	width: 200px;
	background-image: url('../images/icons/animations/ajax-loader-big.gif');
	background-repeat: no-repeat;
	background-position: center;
	background-color: white;
}

.purse	{
	position: relative;
	top: 7px;
	left: 3px;
}

.action-icon	{
	margin-left: 3px;
	margin-right: 3px;
}

.ui-dialog-content	{
	padding: 20px !important;
	text-align: left;
}

.ui-dialog-content .notification_message_content {
	max-width: 700px;
}

.monitor-down	{
	background-color: red;
	color: white !important;
}

.monitor-down a	{
	color: white !important;
}

label.device_add_label {
	display: inline-block;
	width: 35px;
	margin: 5px;
}

a.device_add_detail_button {
	padding-top: 2px;
	padding-left: 5px;
}

a.device_add_detail_button img {
	width: 14px;
	height: 14px;
}

a.message_show_button {
	padding-top: 2px;
	padding-left: 5px;
}

.status_icon {
	vertical-align: middle;
	padding-right: .5em;
	padding-bottom: .5em;
}

ul.topology	{
	margin-top: 10px;
	margin-bottom: 10px;
}

ul.topology	li {
	margin-left: 40px;
}

ul.topology h3	{
	display: inline;
}

#toggle_addresses_button {
	cursor: pointer;
	margin: 0px 0px 0px 5px;
	white-space: nowrap;
	width: auto;
}

button#toggle_addresses_button img {
	vertical-align: middle;
	margin-right: 5px;
}

#load-from-ares-button	{
	cursor: pointer;
	margin-left: 5px;
}

#ports-vlans-form input[type=radio]	{
	margin: 0px;
	padding: 0px;
	width: 30px;
}

.ui-autocomplete {
	font-size: 12px;
	text-align: left;
}

.ui-autocomplete span {
	color: #000;
}

.ui-autocomplete li .details {
	font-style: italic;
	font-size: 11px;
}

.ui-autocomplete li .label.details {
	font-weight: bold;
	font-style: normal;
}

#district,
#domicile_district {
	margin-left: 10px;
}

table.languages td {
	padding-right: 5px;
}

table.languages img {
	vertical-align: middle;
}

#ap_map,
#domicile_ap_map,
#ap_gmap{
	position: relative;
}

.ap_form_map_container {
	position: absolute;
	bottom: 0px;
	left: 210px;
	border: 1px solid #CCCCCC;
}

#ap_map div.no_map,
#domicile_ap_map div.no_map {
	background: url('../images/icons/map_icon.gif') #F1F1F1 no-repeat center center;
	width: 233px;
	height: 104px;
}

div.map_zoom_in {
	position: absolute;
	left: 5px;
	top: 5px;
	cursor: pointer;
	width: 10px;
	height: 10px;
	padding: 5px;
	background: url('../images/icons/ico_math_plus.gif') #2F7CC4 no-repeat center center;
}

div.map_zoom_out {
	position: absolute;
	left: 5px;
	top: 30px;
	cursor: pointer;
	width: 10px;
	height: 10px;
	padding: 5px;
	background: url('../images/icons/ico_math_minus.gif') #2F7CC4 no-repeat center center;
}

#secondary_options option:disabled {
	color: #AAAAAA;
}

#record_template {
	display: none;
}

.dns_record {
	padding: 5px 0px 5px 5px;
	width: auto !important;
}

.dns_record > input,
.dns_record > select,
.dns_record > span {
	float: left;
	margin-right: 10px;
}

.dns_record img.r {
	top: 1px;
	position: relative;
}

.dns_record > span {
	font-weight: bold;
}

.dns_record input.n {
	width: 100px;
}

.dns_record span.fqdn {
	min-width: 100px;
}

.dns_record input.ttl {
	width: 50px;
}

.dns_record .p {
	display: none;
	width: 30px;
}

.dns_record .p.mx {
	display: inline-block;
	margin-right: 8px;
}

.dns_record .d.mx {
	width: 150px;
}

.dns_record .ptr,
.dns_record .ptr_container {
	width: 20px;
	height: 20px;
}

#add_new_record{
	vertical-align: middle;
}

.remove_record,
.add_record {
	vertical-align: top;
}

.dns_record .add_record.hide {
	display: none;
}

.dns_record label.error {
	/*display: none !important;*/
	float: left;
	margin-right: 10px;
	font-weight: normal;
}