Priority: optional
Section: web
Pre-Depends: debconf (>= 0.5) | debconf-2.0
Depends: coreutils, grep, procps, fping, wget
Architecture: all
Maintainer: Ondrej Fibich <ondrej.fibich@gmail.com>
Homepage: http://www.freenetis.org
Description: FreenetIS monitoring - monitoring tool for FreenetIS
 Devices which are given by the FreenetIS are monitored using fping tool and their
  states are send back to the FreenetIS. The communication is made using wget tool.
