Priority: optional
Section: web
Pre-Depends: debconf (>= 0.5) | debconf-2.0
Suggests: freenetis
Architecture: all
Maintainer: Ondrej Fibich <ondrej.fibich@gmail.com>
Homepage: http://www.freenetis.org
Description: FreenetIS redirection:
 FreenetIS redirection is system which depends on FreenetIS and it is used for 
  restriction of traffic. The restrictions may be applicated on clouds,
  subnets, members and single IP address.
