Priority: optional
Section: web
Pre-Depends: debconf (>= 0.5) | debconf-2.0
Depends: coreutils, wget, grep, apache2, php5, php5-curl, libapache2-mod-php5, php5-mysql | php5-mysqli, mysql-client
Suggests: mysql-server (>= 5.0.0), mysql-client
Architecture: all
Maintainer: Ondrej Fibich <ondrej.fibich@gmail.com>
Homepage: http://www.freenetis.org
Description: FreenetIS - information system for managing non-profit networks
 FreenetIS is multilanguage information system for managing non-profit networks
  which is capable to:
 - manage groups and their users;
 - double-entry accounting system (payments, double-entry transfers, bank transfers, accounts, bank accounts, cash flow);
 - network infrastructure (devices, segments, interfaces, IP addresses, subnets, VLANs, VLAN interfaces, ports);
 - monitoring (devices);
 - QoS;
 - notifications (unknown devices page, page for debtors or just information page using SMS, email or redirection);
 - work reporting of active users and work approval;
 - lists of calls and billing of VoIP;
 - etc.
